__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
.idea/
*.db
*.sqlite
*.log
.git/
.gitignore
README.md
.dockerignore
Dockerfile
docker-compose.yml
alembic/versions/__pycache__/

